# Learning about set

In [1]:
name = "tauqyurrrrrrrrrrrrrrrrrrtree"
# we will convert string into set so that they conain unique value
#then we will convert set into list so that we can do sorting
print(set(name))

#converting string into set
my_set = set(name)
print(my_set)

#set to list
my_list = list(my_set)
print(my_list)

# sorting of list in default order i.e asc
my_list.sort()
print(my_list)

# sorting des 
my_list.sort(reverse=True)
print(my_list)

{'u', 'y', 'q', 't', 'e', 'r', 'a'}
{'u', 'y', 'q', 't', 'e', 'r', 'a'}
['u', 'y', 'q', 't', 'e', 'r', 'a']
['a', 'e', 'q', 'r', 't', 'u', 'y']
['y', 'u', 't', 'r', 'q', 'e', 'a']

# TUPLES>>they r similar to list but they r immutable.once element is inside tuple it cannot be reassigned.

In [14]:
mission = ("python","sql","excel","..many more")
print(mission)
print(mission[0])

# here is the proof that tuple cannot have reassignment......
# it has 2 methods i.e index() n count()
print(mission.count("python")) # no of times particular thing is present
print(mission.index("python")) # it tells index of particular stuff..
# slicing tuples
z = mission[::]
v = mission[::-1]
print(v)
print(z)

('python', 'sql', 'excel', '..many more')
python
1
0
('..many more', 'excel', 'sql', 'python')
('python', 'sql', 'excel', '..many more')

# now we will talk about dictionary>>>Dictionaries r keyvalue pairs.. we can retrieve dictionary using keys

In [34]:
player = {"Afridi":80000,"Sachin":20000,"Lara":16000}
print(player.keys())
print(player.values())
print(player.items())
# this is the way we retrieve complete dictionary
for key,val in player.items():
    print(key,val)
index = 1
for k in player.keys():
    print("This is my key no {}: {}".format(index,k))
    index+=1
index_ = 1
for v in player.values():
     print("This is my value no {}: {}".format(index_,v))
     index_ +=1

dict_keys(['Afridi', 'Sachin', 'Lara'])
dict_values([80000, 20000, 16000])
dict_items([('Afridi', 80000), ('Sachin', 20000), ('Lara', 16000)])
Afridi 80000
Sachin 20000
Lara 16000
This is my key no 1: Afridi
This is my key no 2: Sachin
This is my key no 3: Lara
This is my value no 1: 80000
This is my value no 2: 20000
This is my value no 3: 16000

In [ ]:
 x = int(input("enter number......."))

In [10]:
list3 = [1,2,[3,4,'hello']]
print(list3)
segment1 = list3[2]
segment2 = list3[0:2]
final = []
final = segment2 + segment1
print(final)
d = {'k1':{'k2':'hello'}}
print(d['k1']['k2'])

[1, 2, [3, 4, 'hello']]
[1, 2, 3, 4, 'hello']
hello

# Range Function Exploration

In [16]:
for x in range(1,101):
    print(x)
z = list(range(2,101,2))
print(z)
#start , stop, step........

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [27]:
your_name = "TAUQUIR"
index = 0
for x in your_name:
    print(f'Letter at index {index} is {x}') # using f-string
    print("Letter at index {} is {}".format(index,x)) # using .format
    index+=1

Letter at index 0 is T
Letter at index 0 is T
Letter at index 1 is A
Letter at index 1 is A
Letter at index 2 is U
Letter at index 2 is U
Letter at index 3 is Q
Letter at index 3 is Q
Letter at index 4 is U
Letter at index 4 is U
Letter at index 5 is I
Letter at index 5 is I
Letter at index 6 is R
Letter at index 6 is R

# LIST COMPREHENSION

In [31]:
mylist = [x for x in range(0,101,2)]
print(mylist)
mylist1 = [x  for x in range(0,101) if x%2==0]
print(mylist1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]