<a href="https://colab.research.google.com/github/shabbar88/python/blob/main/Module1_Python_Basic_Constructs_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#question no 1
def compound_interest(n,r,p):
  A = p*(1 + (r/100))**n
  return A
ans = compound_interest(10,5,100)
print(ans)
# so answer is b

162.8894626777442

In [ ]:
#question no 2
A=10
B=20
str="There are {} Students in the class , with {} who play at least one sport."
print(str.format(A,B))
#so answer is d (None of the above)

There are 10 Students in the class , with 20 who play at least one sport.

In [ ]:
#question no 3
Sample="It goes without saying, \"Time is Money\", and none can deny it"
print(Sample)
# answer is >>   a. print(“It goes without saying, \“Time is Money\”, and none can deny it.”)

It goes without saying, "Time is Money", and none can deny it

In [ ]:
#question no 4
x = lambda a,b: a//b
x(10,3)
z=x(10,3)
print(z)
# answer would be (b) ie.3

3

In [ ]:
#qustion no 5
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")
# so answer would be (c) i.e Greater

Greater

In [ ]:
#question no 7

string = "Machine Learning"
z=string[slice(8,13,1)]
print(z)
#so answer would be>>>> d. string[slice(8,13,1)]

Learn

In [ ]:
#question no 8
numbers = list(range(10,25,4))
print(numbers)
ind=numbers.index(18)
print(ind)
#answer would be>>> b. 2

[10, 14, 18, 22]
2

In [ ]:
#question no 9
num1 = 5 **4
num2 = pow(5,4)
print(num1,num2)
# answer would be>> a. num1 = num2

625 625

In [ ]:
#question no 13
z="ID-5632"
type(z)

str

In [ ]:
#question no 16
Country ={'India':'Delhi','China':'Beijing','Japan':'Tokyo','Qatar':'Doha','France':'Marseilles'}
#Two command to replace Marseilles with Paris
Country['France']='Paris'
print(Country)
Country.update({"France":"Paris"})
print(Country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}
{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

In [ ]:
#question no 17
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
z=sum(tuple_1)
sum(tuple_1)
u=len(tuple_2)
v=tuple_2 + tuple_1
print(u,v)

print(z)

#ans would be >> tuple_1[3] = 45   because 'tuple' object does not support item assignment

3 (8, 9, 4, 1, 5, 6, 7, 8)
27

In [ ]:
#question no 18
s = {1,2,3,4,4,4,5,6}
print(s)
z = len(s)
print(z)
#There are 6 elents in this data structure

{1, 2, 3, 4, 5, 6}
6