<a href="https://colab.research.google.com/github/shabbar88/python/blob/main/Module1_(Self_Paced)Case_Study_Problem_2_%E2%80%93_Introduction_To_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
Problem Statement:
Consider yourself to be Sam who is a data scientist. He has been invited as a guest lecturer at a college 
to take an introductory session on Python. 
Tasks to be performed:
1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60). 
a. Concatenate the two tuples and store it in “t_combine”
b. Repeat the elements of “t_combine” 3 times 
c. Access the 3rd element from “t_combine”
d. Access the first three elements from “t_combine”
e. Access the last three elements from “t_combine”
2. Create a list ‘my_list’ with these elements: 
a. First element is a tuple with values 1,2,3 
b. Second element is a tuple with values “a”,”b”,”c”
c. Third element is a tuple with values True,False 
3. Append a new tuple – (1,’a’,True) to ‘my_list’
a. Append a new list – *“sparta”,123+ to my_list 
4. Create a dictionary ‘fruit’ where: 
a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)
b. The second key is ‘Cost’ and the values are (85,54,120,70) 
c. Extract all the keys from ‘fruit’
d. Extract all the values from ‘fruit’
5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result
"""

'\nProblem Statement:\nConsider yourself to be Sam who is a data scientist. He has been invited as a guest lecturer at a college \nto take an introductory session on Python. \nTasks to be performed:\n1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60). \na. Concatenate the two tuples and store it in “t_combine”\nb. Repeat the elements of “t_combine” 3 times \nc. Access the 3rd element from “t_combine”\nd. Access the first three elements from “t_combine”\ne. Access the last three elements from “t_combine”\n2. Create a list ‘my_list’ with these elements: \na. First element is a tuple with values 1,2,3 \nb. Second element is a tuple with values “a”,”b”,”c”\nc. Third element is a tuple with values True,False \n3. Append a new tuple – (1,’a’,True) to ‘my_list’\na. Append a new list – *“sparta”,123+ to my_list \n4. Create a dictionary ‘fruit’ where: \na. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)\nb. The second key is ‘Cost’ and the values are (85,54,120,70) \nc. Extract all the keys from ‘fruit’\nd. Extract all the values from ‘fruit’\n5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result\n'

In [25]:
t1=(10,20,30)
t2=(40,50,60)
# 1(a)combining t1 and t2
t_combine = t1 + t2
#1(b) repeating elements of t_combine 3 times
t_combine = t_combine+ t_combine+ t_combine
print(t_combine)
# 1(c) accessing 3rd elem from t_combine
x=t_combine[2]
print(x)
#1(d) accessing first 3 elements from t_combine
first_three = t_combine[0:3]
print(first_three)
#1(e) accessing last 3 elements from t_combine
last_three = t_combine[-3:]
print(last_three)

#2.creating my_list
my_list =list ((1,2,3)+ ("a","b","c")+ (True,False))
print(my_list)
#appending new tuple with 1,'a',True
my_list1 = tuple(my_list) + (1,"a",True)
print(my_list1)


#3.appending new list with 'sparta',123
my_list = my_list + ['sparta',123]
print(my_list)

#4 creating a dictionary with fruit 
fruit={'Fruit':("Apple","Banana","Mango","Guava"),'Cost':(85,54,120,70)}
# 4(c)extracting all keys fruit
fruit_key=[]
for key in fruit.keys():
  fruit_key.append(key)
print(fruit_key)

#4(d) extracting all the values from fruit
fruit_val=[]
for val in fruit.values():
  fruit_val.append(val)
print(fruit_val)

#5.Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result
my_set={1,1,"a","a",True,True}
print(my_set)

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
30
(10, 20, 30)
(40, 50, 60)
[1, 2, 3, 'a', 'b', 'c', True, False]
(1, 2, 3, 'a', 'b', 'c', True, False, 1, 'a', True)
[1, 2, 3, 'a', 'b', 'c', True, False, 'sparta', 123]
['Fruit', 'Cost']
[('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)]
{1, 'a'}

In [24]:
tup=(1,1,"a","a",True,True)
my_set=set(tup)
print(my_set)

{1, 'a'}