<a href="https://colab.research.google.com/github/shabbar88/python/blob/main/OOPS_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
Q1. Write a Python program to demonstrate multiple inheritance.
1. Employee class has 3 data members EmployeeID, Gender (String), Salary and
PerformanceRating(Out of 5) of type int. It has a get() function to get these details from
the user.
2. JoiningDetail class has a data member DateOfJoining of type Date and a function
getDoJ to get the Date of joining of employees.
3. Information Class uses the marks from Employee class and the DateOfJoining date
from the JoiningDetail class to calculate the top 3 Employees based on their Ratings
and then Display, using readData, all the details on these employees in Ascending
order of their Date Of Joining.

"""

'\nQ1. Write a Python program to demonstrate multiple inheritance.\n1. Employee class has 3 data members EmployeeID, Gender (String), Salary and\nPerformanceRating(Out of 5) of type int. It has a get() function to get these details from\nthe user.\n2. JoiningDetail class has a data member DateOfJoining of type Date and a function\ngetDoJ to get the Date of joining of employees.\n3. Information Class uses the marks from Employee class and the DateOfJoining date\nfrom the JoiningDetail class to calculate the top 3 Employees based on their Ratings\nand then Display, using readData, all the details on these employees in Ascending\norder of their Date Of Joining.\n\n'

In [2]:
class Employee():
  def __init__(Self,EmployeeID,Gender,Salary,PerformanceRating):
    Self.EmployeeID=EmployeeID
    Self.Gender=Gender
    Self.Salary=Salary
    Self.PerforanceRating=PerformanceRating

  def __str__(Self):
    return Self.PerformanceRating
  def get(Self):
    return"EmplyeeID: {}\nGender:{} \n Salary: {} \n PerformanceRating:{}".format(Self.EmployeeID,Self.Gender,Self.Salary,Self.PerforanceRating)

In [8]:
class JoiningDetail(Employee):
  def __init__(Self,EmployeeID,Gender,Salary,PerformanceRating,DateOfJoining):
    Self.DateOfJoining=DateOfJoining
    Employee.__init__(Self,EmployeeID,Gender,Salary,PerformanceRating)
   

  def getDOJ(Self):
    return Self.DateOfJoining

In [19]:
from datetime import date
class Information():
  
  
  # taking input from the user
  emp_id=input("enter employee id.....")
  emp_gender=input("enter employee gender type Male/Female.....")
  emp_sal=int(input("Enter employee salary in rs.............."))
  emp_rating=int(input("Enter Employee Rating Out of 5........"))
  
 
  year=int(input("Enter year...................................."))
  month=int(input("Enter month...............................   "))
  day=int(input("Enter day ....................................."))
  d=date(year,month,day)

  joining1=JoiningDetail(emp_id,emp_gender,emp_sal,emp_rating,d.strftime("%d-%b-%Y"))
  
  emp_id=input("enter employee id.....")
  emp_gender=input("enter employee gender type Male/Female.....")
  emp_sal=int(input("Enter employee salary in rs.............."))
  emp_rating=int(input("Enter Employee Rating Out of 5........"))

 
  year=int(input("Enter year...................................."))
  month=int(input("Enter month...............................   "))
  day=int(input("Enter day ....................................."))
  d=date(year,month,day)
  joining2=JoiningDetail(emp_id,emp_gender,emp_sal,emp_rating,d.strftime("%d-%b-%Y"))


  emp_id=input("enter employee id.....")
  emp_gender=input("enter employee gender type Male/Female.....")
  emp_sal=int(input("Enter employee salary in rs.............."))
  emp_rating=int(input("Enter Employee Rating Out of 5........"))

 
  year=int(input("Enter year...................................."))
  month=int(input("Enter month...............................   "))
  day=int(input("Enter day ....................................."))
  d=date(year,month,day)
  joining3=JoiningDetail(emp_id,emp_gender,emp_sal,emp_rating,d.strftime("%d-%b-%Y"))

  
  emp_id=input("enter employee id.....")
  emp_gender=input("enter employee gender type Male/Female.....")
  emp_sal=int(input("Enter employee salary in rs.............."))
  emp_rating=int(input("Enter Employee Rating Out of 5........"))

 
  year=int(input("Enter year...................................."))
  month=int(input("Enter month...............................   "))
  day=int(input("Enter day ....................................."))
  d=date(year,month,day)
  joining4=JoiningDetail(emp_id,emp_gender,emp_sal,emp_rating,d.strftime("%d-%b-%Y"))


  emp_id=input("enter employee id.....")
  emp_gender=input("enter employee gender type Male/Female.....")
  emp_sal=int(input("Enter employee salary in rs.............."))
  emp_rating=int(input("Enter Employee Rating Out of 5........"))


 
  year=int(input("Enter year...................................."))
  month=int(input("Enter month...............................   "))
  day=int(input("Enter day ....................................."))
  d=date(year,month,day)
  joining5=JoiningDetail(emp_id,emp_gender,emp_sal,emp_rating,d.strftime("%d-%b-%Y"))

  """
  my_dict={'joining1.EmployeeID':[joining1.PerforanceRating,joining1.DateOfJoining],'joining2.EmployeeID':[joining2.PerforanceRating,joining2.DateOfJoining],
               'joining3.EmployeeID':[joining3.PerforanceRating,joining3.DateOfJoining],
                'joining4.EmployeeID':[joining4.PerforanceRating,joining4.DateOfJoining],
                'joining5.EmployeeID':[joining5.PerforanceRating,joining5.DateOfJoining]
           }
  value_list=[]
  key_list=[]
  for k,v in my_dict.items():
    key_list.append(k)
    value_list.append(v)
  print(key_list)
  print(value_list)

  """
  my_dict={'joining1':joining1.PerforanceRating,'joining2':joining2.PerforanceRating,'joining3':joining3.PerforanceRating
           ,'joining4':joining4.PerforanceRating,'joining5':joining5.PerforanceRating}
  print(sorted(my_dict.items(), key=lambda kv:
                 (kv[1], kv[0])))

enter employee id.....1
enter employee gender type Male/Female.....f
Enter employee salary in rs..............12000
Enter Employee Rating Out of 5........4
Enter year....................................2002
Enter month...............................   09
Enter day .....................................03
enter employee id.....2
enter employee gender type Male/Female.....f
Enter employee salary in rs..............3333
Enter Employee Rating Out of 5........2
Enter year....................................2004
Enter month...............................   02
Enter day .....................................04
enter employee id.....3
enter employee gender type Male/Female.....male
Enter employee salary in rs..............444444
Enter Employee Rating Out of 5........4
Enter year....................................2007
Enter month...............................   03
Enter day .....................................04
enter employee id.....5
enter employee gender type Male/Female.....m
Enter employee salary in rs..............3333
Enter Employee Rating Out of 5........1
Enter year....................................2009
Enter month...............................   03
Enter day .....................................04
enter employee id.....6
enter employee gender type Male/Female.....f
Enter employee salary in rs..............222222
Enter Employee Rating Out of 5........3
Enter year....................................2007
Enter month...............................   03
Enter day .....................................04